@import "../base/base";

.container {
  // Use function rem to calc pixels
  width: rem-calc(500);
  min-height: rem-calc(370);
  padding: rem-calc(35) !important;

  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: rem-calc(10);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
