@import "../../../../../../scss/base/variables";
@import "../../../../../../scss/base/base";

:host {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &,
    label,
    input {
      width: 100%;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $black;

      svg {
        width: rem-calc(30);
      }

      input {
        height: rem-calc(50);
        border: none;
        font-size: rem-calc(18);
        &::placeholder {
          color: $black;
        }
      }
    }
  }
}
